nav {
    width: 100%;
    position: fixed;
    top: 0.5rem;
    left: 0;
    z-index: 5;
}

.nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darkGrey);
    border-radius: 15px;
    width: 90%;
    max-width: 1200px;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    transition: box-shadow 0.3s ease;
}

.nav-links {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: var(--darkGrey);
    width: 100%;
    height: 60vh;
    max-height: 800px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    bottom: 0;
    left: 0;
    padding: 2rem;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    text-align: right;
    overflow-y: auto;
    gap: 0;
    list-style-type: none;
}

.nav-links.active {
    transform: translateY(0);
}

.nav-links .nav-link {
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.nav-link a {
    padding: 1rem 0;
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.25rem;
}

.nav-links a:hover {
    color: var(--theme);
}

.nav-link.active a {
    color: var(--theme);
    font-weight: bold;
    cursor: default;
    pointer-events: none;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-logo {
    font-family: "Mrs Sheppards", cursive;
    font-size: 2.5rem;
    color: var(--theme);
    text-decoration: none;
}

.nav-logo:hover {
    color: var(--white);
}

.theme-wrapper {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    transition: transform 0.1s ease;
}

.theme-wrapper svg {
    transform: scale(1.125);
}

.theme-wrapper:hover {
    background-color: var(--aBg);
}

.nav-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.line {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    border-radius: 50px;
    transition: transform 0.3s ease, translateX 0.3s ease, translateY 0.3s ease, scaleX 0.3s ease;
}

.line1.active {
    transform: rotate(45deg) translateX(3px) translateY(3px);
}

.line2.active {
    transform: rotate(-45deg) translateX(3px) translateY(-3px);
}

.line3.hide {
    display: none !important;
}

.nav-inner.active {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.35);
}

@media (min-width: 768px) {
    .nav-burger {
        display: none;
    }

    .nav-links {
        position: unset;
        flex-direction: row;
        height: unset;
        transform: unset;
        transition: unset;
        padding: unset;
        text-align: unset;
        align-items: center;
        overflow: unset;
        gap: 1.25rem;
        margin-right: 1rem;
    }

    .nav-links .nav-link {
        margin-bottom: unset;
        padding: unset;
    }
}