#contactForm {
    margin: 1rem 0;
}

#contactForm input {
    margin: 1rem 0;
}

.contact-button {
    font-family: inherit;
    text-transform: capitalize !important;
    width: 100% !important;
}

.spinner {
    width: 100%;
    height: 100%;
    border: none;
    transform: scale(1.45);
}